.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delimiter {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.link {
  text-align: center;
  text-transform: uppercase;
}