.button {
  padding: 10px 20px;
  font-size: 0.9rem;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button--primary {
  background-color: #6c69ff;
}

.button--primary:hover {
   background-color: #9593ee;
}

.button--warn {
  background-color: #FF6E6E;
}

.button--warn:hover {
  background-color: #f18686;
}

.button-block {
  width: 100%;
}
